<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCTORES</title>

    

    {# Cargamos la librería #} 
    {% load bootstrap4 %} 
      
    {# CSS Bootstrap #} 
    {% bootstrap_css %} </head>
        
    {# Widget Tweaks #}
    {% load widget_tweaks %}
      
    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
      
      

</head>
<body>

    <div align="left" class="btn_crear mb-3">
        <a href="crear" type="button" class="btn btn-primary">Crear</a> <!-- Boton crear -->
      </div>
      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="35%">Nombre</th>
            <th>Especialidad</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Pacientes</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for arepas in object_list %}
          <tr>
            <td>{{ doctores.nombre }}</td>
            <td>{{ doctores.especialidad }}</td>
            <td>{{ doctores.telefono }}</td>
            <td>{{ doctores.direccion }}</td>           
            <td>{{ doctores.pacientes }}</td>


            <td><img src="{% static 'uploads/'%}{{doctores.img}}" alt="{{doctores.nombre}}" class="img-fluid" width="7%"></td>
            <td>
       
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="eliminar/{{doctores.id}}">
                {% csrf_token %}
                <div class="btn-group">
       
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="detalle/{{doctores.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <a href="editar/{{doctores.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                  <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                  </button>
                </div>
              </form>  
            </td>
          </tr>
        {% endfor %}
       
        </tbody>
      </table>



    <!-- Al final del body -->
    {# JS y jQuery Bootstrap #}
  {% bootstrap_javascript jquery='full' %} 
</body>

</html>